{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer {{#if @site.cover_image}}" style="background-image: url({{@site.cover_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">  
              {{@site.title}}
            </h1>
            <h2 class="site-description">{{@site.description}}</h2>
        </div>
        {{> "site-nav"}}
    </div>
</header>

{{^is "paged"}}
    {{#get "posts" limit="2" include="tags,authors" filter="featured:true"}}
        {{#if posts}}
            <div class="post-feed-featured-container">
                <div class="outer">
                    <div class="inner">
                        <h3>Featured Articles</h3>
                        <div class="post-feed-featured">
                            {{#foreach posts}}
                                {{> "post-card"}}
                            {{/foreach}}
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
    {{/get}}
{{/is}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">

        <div class="post-feed">
            {{!-- <article class="post-card post"></article> --}}
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

                {{^match @custom.homepage_newsletter_subscription "None"}}
                    {{#is "home"}}
                        {{#has number="6"}}
                            <div id="confirmsubscription" style="display: none;">
                                <p>Thank you for submitting details. Your email address is added to our subscription list.</p>
                                </div>
                                <script src="//app-ab45.marketo.com/js/forms2/js/forms2.min.js"></script>
                                <form id="mktoForm_1377"></form>
                                <script>
                                MktoForms2.loadForm("//app-ab45.marketo.com", "246-JVA-804", 1377, function(form) {
                                //Add an onSuccess handler
                                form.onSuccess(function(values, followUpUrl) {
                                form.getFormElem().hide();
                                document.getElementById('confirmsubscription').style.display = 'block';
                                //return false to prevent the submission handler from taking the lead to the follow up url.
                                return false;
                                });
                                });
                            </script>
                        {{/has}}
                    {{/is}}
                {{/match}}

            {{/foreach}}
        </div>

    </div>
</main>
